@font-face {
    font-family: "norse-bold";
    src: url(../resources/font/Norse-Bold.otf) format("opentype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 8fr 0.5fr;

    --outer-elements-color: peachpuff;
}

header{
    max-height: 15vh;
    background-color: var(--outer-elements-color);

    display: flex;
    justify-content:center;
    align-items: center;

    padding: 2vh 0;

    gap: 32px;
}

footer{
    max-height: 5vh;
    background-color: var(--outer-elements-color);
}

.content{
    max-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;

    justify-items: center;
    align-items: center;
}

#user-column{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

}

form{
    display: flex;
    flex-direction: column;

    border: 1px solid black;
    border-radius: 12px;

    padding: 24px 32px;
    margin: 0 1vw;
    min-width: 60%;
    gap: 24px;
}

.player-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

form label{
    font-size: 2rem;
}

form input{
    max-height: 64px;
    min-height: 24px;
    padding: 0 6px;
}

form button{
    padding: 12px 32px;
    margin-top: 1vh;

    font-size: 1.5rem;

    border-radius: 12px;

    max-width: 200px;

    cursor: pointer;

    background-color: white;
    transition: background-color 0.2s ease;
}

form button:hover{
    background-color: lightgray;
}

input + label{
    margin-top: 1vh;
}

#grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    padding: 2vh 2vh;

    width: 100vw;
    max-width: 80vh;
    
    aspect-ratio: 1/1;
}

.grid-square{
    background-color: gray;

    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;

    border: 1px solid black;
}

.grid-square:nth-child(even){
    background-color: peachpuff;
}

.grid-square:hover{
    opacity: 0.6;
}

.no-hover{
    pointer-events: none;
}

#logo{
    filter: invert(1);

    max-height: 13vh;
    max-width: 13vh;
}

#title{
    font-family: "norse-bold", sans-serif;
    font-size: 4rem;
}

.marker{
    min-height: 100%;
    min-width: 100%;
}

.marker.o{
    content:url(../resources/img/o.svg);
    min-height: 100%;
    min-width: 100%;
}

.marker.x{
    content:url(../resources/img/x.svg);
        min-height: 100%;
    min-width: 100%;
}